<h2><%= @game.player1.name %> v. <%= @game.player2.name %></h2>

<p><%= @game.player1.name %>: <%= @game.player1.hit_points %>HP</p>
<p><%= @game.player2.name %>: <%= @game.player2.hit_points %>HP</p>

<p><%= @game.current_turn.name %>'s turn</p>

<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>
